<!DOCTYPE html>
<html>
    <head>
        <title>Seu Carrinho</title>
    </head>
    <body>
        <h1>Bem vindo ao seu carrinho</h1>
        <table border = "1">
            <tr> 
                <td>Nome do Produto</td>
                <td>Quantidade</td>
                <td> Valor</td>
            </tr>
            {% for product,cookie in products %}
                    <tr>
                            <td id = "product-{{product.id}}" , align = 'Center' >{{product.name}}</td>
                            <td></td>
                            <td id = "price"> GetCookie({{cookie}}) </td>
                            <td><button onClick = "onClickCarDel('{{product.name}}')"> Remover do Carrinho </button></td>

                    </tr>
                        
                         
                {% endfor %}
                    
        
        </table>
        <span id = 'full_price'> O Valor total é R$ <b>{{full_price}}</b></span>
        <br>
        <br>
        <a class="nav-link active" href="{{url_for('index')}}">Voltar para tela Principal</a>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src = './../static/js/script.js'></script>
</html>