<!DOCTYPE html>
<html>
    <head>
        <title>Seu Carrinho</title>
    </head>
    <body>
        <h1>Bem vindo ao seu carrinho</h1>
        <table border = "1">
            <tr> 
                <td>Nome do Produto</td>
                <td>Quantidade</td>
                <td> Valor</td>
            </tr>
            {% if products %}
            {% for product in products %}
            <tr>
                    <td id = "product" , align = 'Center' >{{product.product }}</td>
                    <td id = "quantity" , align = 'Center' >{{product.quantity }}</td>
                    <td id = "price"> {{ product.price }} </td>
                    <td><button"> Remover do Carrinho </button></td>
            </tr>



                {% endfor %}
            {% endif %}
        
        </table>
        <span id = 'price'> O Valor total é R$ <b>{{price}}</b></span>
        <br>
        <br>
        <a class="nav-link active" href="{{url_for('index')}}">Voltar para tela Principal</a>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src = './../static/js/script.js'></script>
</html>