{% if current_user.type == 'employee' %}
  {% extends 'navbar_employee.html' %}
{% else %}
  {% extends 'navbar.html' %}
{% endif %}

{% block title %}
Home
{% endblock %}

{% block content %}

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

  <div class="categories-list">
    <nav class="nav justify-content-center"> <a class="nav-link" href="search/?query=Livros">Livros</a> |  <a class="nav-link" href="search/?query=Eletrônicos">Eletrônicos</a>  |  <a class="nav-link" href="search/?query=Filmes">Filmes</a>  </nav>
  </div>

{% endblock %}