{% if current_user.type == 'employee' %}
  {% extends 'navbar_employee.html' %}
{% else %}
  {% extends 'navbar.html' %}
{% endif %}

{% block title %}
Listagem
{% endblock %}

{% block content %}
{% if objects %}
        <ul>
        {% for object in objects %}
            <h4><li>{{object.name}}</li></h4>
            <a href="{{url_for('update', object=object_name, id=object.id)}} style">Alterar</a>
            <a href="{{url_for('delete', object=object_name, id=object.id)}}">Deletar</a>
        {% endfor %}
        </ul>
    {% else %}
        <h3>Ainda não há nada a ser exibido aqui!</h3>
    {% endif %}
{% endblock %}