{% extends 'navbar_employee.html' %}

{% block title %}Novo Produto{% endblock %}

{% block content %}
    <form action="" method="POST" class="form-signin">
        {{ form.csrf_token}}
        <label for="" class="sr-only">Nome</label>
        {{ form.name(placeholder="Digite seu Nome", class="form-control") }}
        <label for="" class="sr-only">Preço</label>
        {{ form.price(placeholder="Digite o preço do produto", type="number", class="form-control" )}}
        <label for="" class="sr-only"> Descrição</label>
        {{ form.description(placeholder="Descreva a categoria", class="form-control") }}
        <label for="" class="sr-only">Categoria</label>
        {{ form.category(class="form-control") }}
        <input type="submit">
    </form>

{% endblock %}