{% extends 'navbar.html' %}

{% block content %}

<form action="" method="POST" class="form-signin">
        {{ form.csrf_token}}
        <label for="" class="sr-only">Nome</label>
        {{ form.name(value=user.name, class="form-control") }}
        <label for="" class="sr-only">E-mail</label>
        {{ form.email(value=user.email, class="form-control") }}
        <label for="" class="sr-only">Usuário</label>
        {{ form.username(value=user.username, readonly=True, class="form-control") }}
        <label for="" class="sr-only">Senha</label>
        {{ form.password(placeholder="Digite sua senha", class="form-control") }}
        <label for="" class="sr-only">Repita sua Senha</label>
        <input type="password" name="repeat" placeholder="Repita sua Senha" class="form-control">
        <input type="submit" id="update" value="Enviar" class="btn btn-primary form-control">
    </form>

    <span class="btn btn-danger"><a href="{{url_for('delete', object='client', id=user.id)}}">Deletar</a></span>

{% endblock %}