{% extends 'navbar_employee.html' %}

{% block title %}Atualizar Categoria {% endblock %}


{% block content %}
<form action="" method="POST" class="form-signin">
        {{ form.csrf_token}}
        <label for="" class="sr-only">Nome</label>
        {{ form.name(placeholder="Digite o nome do produto", value=product.name,  class="form-control") }}
        <label for="" class="sr-only">Preço</label>
        {{ form.price(value=product.price, class="form-control") }}
        <label for="" class="sr-only">Descrição</label>
        {% set f = form.description.process_data(product.description) %}
        {{ form.description(placeholder="Descreva o produto", class="form-control") }}
        <label for="" class="sr-only">Categoria</label>
        {{ form.category(id='query_field', class="form-control") }}

        <label for="" class="sr-only">Senha</label>
        <input type="password" name="password" placeholder="Digite sua Senha" class="form-control">
        <label for=""class="sr-only ">Repita sua Senha</label>
        <input type="password" name="repeat" placeholder="Repita sua Senha" class="form-control">
        <input type="submit" value="Enviar"class="btn btn-primary form-control">
    </form>

    <script type="text/javascript">
        document.getElementById("query_field").value = "{{product.category.id}}";
    </script>
{% endblock %}